<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ site.url }}{{ site.baseurl }}"><i class="fa fa-home"></i></a>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav navbar-right">
        {% for item in site.data.outline %}
        <!--<li><a href="{{ site.baseurl }}blog.html">BLOG</a></li>-->
          {% if item.url != null %}
            <li><a href="{{ item.url }}">{{ item.name }}</a></li>
          {% else %}
            <li><a href="{{ site.baseurl }}{{ item.location }}">{{ item.name }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
