<ul class="menu">
  {% assign course_name = page.dir.split("/")[1] %}
  {% for steve in site.data.course_nav[course_name] %}
  {% if steve.subcategories != null %}
  <li><a href="{{ steve.href }}" class="page-link">{{ steve.title }}</a>
    <ul class="sub-menu">
      {% for subcategory in steve.subcategories %}
      <li><a href="{{ subcategory.subhref }}">{{ subcategory.subtitle }}</a></li>
      {% endfor %}
    </ul>
    {% else %}
      <li><a href="{{ steve.href | prepend: site.baseurl }}" class="page-link">{{ steve.title }}</a>
    {% endif %}
  </li>
  {% endfor %}
</ul>
