---
layout: post
title: "Achieving Memory Safety"
category: "Software Security"
prof: Bryan
summary: >
  This lecture will cover techniques to analyze code for memory vulnerabilities,
  retrofit memory safety on legacy code, and go beyond memory safety to verify
  strong properties about software.
reading:
 - title: "CCured: Type-Safe Retrofitting of Legacy Software (Sections 4-6 are optional)"
   url: https://people.eecs.berkeley.edu/~necula/Papers/ccured_toplas.pdf
optional:
 - title: "A Few Billion Lines Of Code Later: Using Static Analysis To Find Bugs In The Real World"
   url: http://doi.acm.org/10.1145/1646353.1646374
---

Hi!
