---
layout: page
title: Schedule
---

<p>(Note this is a rough schedule and things are subject to change.)</p>


{% assign course_url = page.dir | split: "/" %}
{% assign course_id = course_url[2] %}
{% assign courseurl = course_id | append: "/" %}

{% assign templateurl = site.url | append: site.baseurl | append: "/courses/" | append: course_id | append: "/slides/CSE591Template.potx" %}

<ul class="post-list">
  {% for post in site.categories[course_id] reversed %}
    <li>
  	<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

  	<span style='font-variant: small-caps; font-weight:bold;'>{{ post.category }}</span>: <b>{{ post.title }}</b>
  	{% if post.prof %}
      (Instructor: {{ post.prof }})
  	{% endif %}

  	{% if post.slides %}
  	&nbsp;|&nbsp;
    {% assign slideurl = site.url | append: site.baseurl | append: "/courses/" | append: course_id | append: "/slides/" | append: post.slides %}
  	<a href="{{ slideurl }}">{{ post.slides }}</a>
  	{% endif %}

    {% if post.lab %}
  	&nbsp;|&nbsp;
    {% assign slideurl = site.url | append: site.baseurl | append: "/courses/" |
    append: course_id | append: "/labs/" | append: post.lab %}
  	<a href="{{ slideurl }}">{{ post.lab }}</a>
  	{% endif %}

  	<br/>
  	{{ post.summary }}

    <!--====== BEFORE-CLASS VIDEOS =====-->
  	{% if post.before-videos %}
  	<hr style="height:6px; visibility:hidden;" />
    <b>Self-learning Videos:</b>
  	<ul>
  		{% for video in post.before-videos %}
  		<li>
        {{ video.title }} &nbsp;|&nbsp; <a href="{{ video.url }}">{{ video.url }}</a>
  		</li>
  		{% endfor %}
  	</ul>
  	{% endif %}

    <!--====== IN-CLASS VIDEOS  =====-->
  	{% if post.videos %}
  	<hr style="height:6px; visibility:hidden;" />
    <b>In-class Video:</b>
  	<ul>
  		{% for video in post.videos %}
  		<li>
        In-class Lab &nbsp;|&nbsp; <a href="{{ video.url }}">{{ video.url }}</a>
  		</li>
  		{% endfor %}
  	</ul>
  	{% endif %}

    </li>
  {% endfor %}
</ul>
