---
layout: page
title: Syllabus
---

<p>(Note this is a rough schedule and things are subject to change.)</p>

{% assign course_url = page.dir | split: "/" %}
{% assign course_id = course_url[2] %}

<ul class="post-list">
  {% for post in site.categories[course_id] reversed %}
    <li>
  	<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

  	<span style='font-variant: small-caps; font-weight:bold;'>{{ post.category }}</span>: <b>{{ post.title }}</b>
  	{% if post.prof %}
      (Instructor: {{ post.prof }})
  	{% endif %}

  	{% if post.slides %}
  	&nbsp;|&nbsp;
    {% assign courseurl = course_id | append: "/" %}
    {% assign slideurl = site.url | append: site.baseurl | append: "/courses/" | append: course_id | append: "/slides/" | append: post.slides %}
  	<a href="{{ slideurl }}">{{ post.slides }}</a>
  	{% endif %}

  	<br/>
  	{{ post.summary }}

  	{% if post.reading %}
  	<hr style="height:6px; visibility:hidden;" />
  	Reading:
  	<ul>
  		{% for reading in post.reading %}
  		<li>
  			{% if reading.file %}
  				<a href="{{ reading.file | prepend: site.readingurl | prepend: site.baseurl | prepend: site.url }}">{{ reading.title }}</a>
  			{% else %}
  				<a href="{{ reading.url }}">{{ reading.title }}</a>
  			{% endif %}
  		</li>
  		{% endfor %}
  	</ul>
  	{% endif %}

  	{% if post.optional %}
  	<hr style="height:6px; visibility:hidden;" />
  	Optional Reading:
  	<ul>
  		{% for reading in post.optional %}
  		<li>
  			{% if reading.file %}
  				<a href="{{ reading.file | prepend: site.readingurl | prepend: site.baseurl | prepend: site.url }}">{{ reading.title }}</a>
  			{% else %}
  				<a href="{{ reading.url }}">{{ reading.title }}</a>
  			{% endif %}
  		</li>
  		{% endfor %}
  	</ul>
  	{% endif %}

    </li>
  {% endfor %}
</ul>
