---
layout: layout
title: Blog
---

<div class="container">
<h1>Teaching</h1>
  <div class="panel panel-default">
    <div class="panel-body">
		{% for c in site.data.courses %}
			<div class="row">
				 <div class="col-sm-4 col-md-4 col-lg-4">
					 <h5 style="text-align: right">
					 	{{ c.date }}
					 </h5>
				 </div>
				 <div class="col-sm-8 col-md-8 col-lg-8">
					 <h5 style="text-align: left">
             <strong><a href="{{ c.url }}">{{ c.id }}: {{ c.title }}</a></strong>
					 </h5>
				 </div>
			</div>
	    {% endfor %}
	</div>
  </div>
</div>
